@import '../main/Constants';

.calendar-container-outer {
  width: 100%;
  height: 100%;
  display: flex;
}

.calendar-container {
  width: 100%;
  height: 100%;
}

.calendar-container-half {
  width: 70%;
}

.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100% - 90px);
}

.calendar-header {
  display: flex;
}

.column-header {
  height: 100px;
  width: $calendarColumnWidth;
  border-top: 2px var(--light-gray) solid;
  border-right: 2px var(--light-gray) solid;
  border-bottom: 2px var(--light-gray) solid;
}

.calendar-column {
  border-right: 2px var(--light-gray) solid;
}

.calendar-column-left {
  border-left: 2px var(--light-gray) solid;
  border-radius: 5px 0 0 0;
  width: calc(#{$calendarColumnWidth} - 2px);
}

.calendar-column-right {
  border-radius: 0 5px 0 0;
}

.column-header-half {
  display: flex;
  flex-direction: column;
}

.column-header-today {
  background-color: var(--dull-blue);
  color: white;
}

.column-time {
  width: $containerMarginLeft;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.column-time-half {
  width: 75px;
}

.column-time-header {
  border: none;
  padding-bottom: 2px;
  width: $containerMarginLeft;
}

.calendar-header-left {
  text-align: left;
  margin-bottom: 16px;
  margin-left: calc(#{$containerMarginLeft} - #{$arrowWidth});
  width: 50%;
  text-transform: lowercase;
}

.calendar-header-left-half {
  margin-left: 75px;
}

.calendar-header-right {
  display: flex;
  width: 50%;
}

.weekday {
  font-size: 28px;
  color: var(--light-blue);
  text-align: left;
  margin-left: 30px;
  padding-top: 5px;
}

.weekday-half {
  font-size: 25px;
  margin: auto;
}

.day {
  font-size: 40px;
  color: var(--dull-blue);
  text-align: left;
  margin-left: 30px;
}

.day-half {
  font-size: 37px;
  margin: auto;
}

.column-header-today {
  background-color: var(--dull-blue);
  color: white;
}

.container-times {
  width: 8%;
  height: 100%;
  color: var(--dull-blue);
  font-weight: 400;
}

.container-events {
  height: 100%;
  color: var(--dull-blue);
  font-weight: 400;
  position: relative;
  width: calc(#{$calendarColumnWidth} + 2px);
}

.calendar-event {
  background-color: var(--blush);
  border-radius: 5px;
  width: calc(85% - 18px);
  position: absolute;
  color: white;
  overflow: hidden;
  padding: 8px;
  text-align: left;

  .event-description {
    margin: 0 0.5em;
  }

  p {
    margin: 0.5em;
    font-size: 13px;
  }
}

.row-grid {
  border-top: 2px var(--light-gray) solid;
}

.row-time {
  padding-top: 2px;
  text-align: right;
}

.row-left {
  border-left: 2px var(--light-gray) solid;
}

.row-bottom {
  border-bottom: 2px var(--light-gray) solid;
}

.row-bottom-right {
  border-radius: 0 0 5px 0;
}

.row-bottom-left {
  border-radius: 0 0 0 5px;
}

.time {
  margin-right: 25%;
  position: relative;
  top: -25%;
}

.btn-new-event {
  margin-left: 0;
}

.left-arrow {
  width: $arrowWidth;
  height: $arrowWidth;
  background-color: transparent;
  border-left: 3px var(--dull-blue) solid;
  border-bottom: 3px var(--dull-blue) solid;
  border-radius: 0;
  transform: rotate(45deg);
  padding: 0;
  position: relative;
  left: calc(#{$containerMarginLeft} / 2);
  top: 100px;
}

.right-arrow {
  width: $arrowWidth;
  height: $arrowWidth;
  background-color: transparent;
  border-right: 3px var(--dull-blue) solid;
  border-bottom: 3px var(--dull-blue) solid;
  border-radius: 0;
  transform: rotate(-45deg);
  padding: 0;
  position: relative;
  right: 2%;
  top: 100px;
}
