@import '../main/Constants';

.cal-container-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .cal-container-inner {
    display: flex;
    flex: 1;
  }

  .actions-container {
    margin: $actionsMarginT $calendarMarginRight $actionsMarginB $containerMarginLeft;

    .cal-view-btns {
      text-align: left;
      display: flex;
    }

    .actions-inner {
      display: flex;
      margin-top: 20pt;
      justify-content: space-between;

      .actions-left {
        margin-top: auto;
        margin-bottom: auto;
      }

      .actions-right {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

.calendar-container {
  width: 100%;
  height: 100%;
}

.calendar-container-half {
  width: calc(100% - #{$sideMenuWidth} - 50pt);
}

.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50pt);
}

.calendar-header {
  display: flex;
}

.column-header {
  height: 80pt;
  width: $calendarColumnWidth;
  border-top: 2pt $colorNeutral3 solid;
  border-right: 2pt $colorNeutral3 solid;
  border-bottom: 2pt $colorNeutral3 solid;
}

.calendar-column {
  border-right: 2pt $colorNeutral3 solid;
}

.calendar-column-left {
  border-left: 2pt $colorNeutral3 solid;
  border-radius: 5pt 0 0 0;
  width: calc(#{$calendarColumnWidth} - 2pt);
}

.calendar-column-right {
  border-radius: 0 5pt 0 0;
}

.column-header-half {
  display: flex;
  flex-direction: column;
}

.column-header-today {
  color: $colorPrimary;
}

.column-time {
  width: $containerMarginLeft;
  border: none;
  padding-top: 2pt;
  padding-bottom: 2pt;
}

.column-time-half {
  width: 75pt;
}

.column-time-header {
  border: none;
  padding-bottom: 2pt;
  width: $containerMarginLeft;
}

.calendar-header-left {
  text-align: left;
  margin-bottom: 16pt;
  margin-left: calc(#{$containerMarginLeft} - #{$arrowWidth});
  width: 50%;
  text-transform: lowercase;
}

.calendar-header-left-half {
  margin-left: 75pt;
}

.calendar-header-right {
  display: flex;
  width: 50%;
}

.weekday {
  font-size: 18pt;
  color: $colorTextNeutral;
  text-align: left;
  margin-left: 20pt;
  margin-top: 8pt;
}

.weekday-half {
  font-size: 16pt;
}

.day {
  font-size: 28pt;
  font-weight: bold;
  color: $colorTextNeutral;
  text-align: left;
  margin-left: 20pt;
}

.day-half {
  font-size: 24pt;
}

.column-header-today {
  color: $colorPrimary;
}

.container-times {
  width: $containerMarginLeft;
  height: 100%;
  color: $colorNeutral5;
  font-weight: 600;
}

.container-events {
  height: 100%;
  font-weight: 400;
  position: relative;
  width: calc(#{$calendarColumnWidth} + 2pt);
}

.calendar-event {
  background-color: var(--blush);
  border-radius: 5pt;
  width: calc(85% - 18pt);
  position: absolute;
  color: white;
  overflow: hidden;
  padding: 8pt;
  text-align: left;

  .event-description {
    margin: 0 0.5em;
  }

  p {
    margin: 0.5em;
    font-size: 13pt;
  }
}

.row-grid {
  border-top: 2pt $colorNeutral3 solid;
  background-color: $colorNeutral1;
}

.row-time {
  padding-top: 2pt;
  text-align: right;
}

.row-left {
  border-left: 2pt $colorNeutral3 solid;
}

.row-bottom {
  border-bottom: 2pt $colorNeutral3 solid;
}

.row-bottom-right {
  border-radius: 0 0 5pt 0;
}

.row-bottom-left {
  border-radius: 0 0 0 5pt;
}

.time {
  margin-right: 25%;
  position: relative;
  top: -25%;
}

.btn-new-event {
  margin-left: 0;
}

.left-arrow {
  width: $arrowWidth;
  height: $arrowWidth;
  background-color: transparent;
  border-left: 3pt $colorTertiary solid;
  border-bottom: 3pt $colorTertiary solid;
  border-radius: 0;
  transform: rotate(45deg);
  padding: 0;
  position: relative;
  left: calc(#{$containerMarginLeft} / 2);
  top: 100pt;
}

.right-arrow {
  width: $arrowWidth;
  height: $arrowWidth;
  background-color: transparent;
  border-right: 3pt $colorTertiary solid;
  border-bottom: 3pt $colorTertiary solid;
  border-radius: 0;
  transform: rotate(-45deg);
  padding: 0;
  position: relative;
  right: 2%;
  top: 100pt;
}

.right-arrow-half {
  right: 1%;
}
