@import '../main/Constants';

.create-new-event {
  width: $sideMenuWidth;
  height: $sideMenuHeight;
  margin: $sideMenuMargin;
  padding: $sideMenuPadding;
  display: flex;
  flex-direction: column;
}

.display-flex {
  display: flex;
}

.space-between-wrap {
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-event-name {
  font-size: 20px;
  font-weight: 600;
  width: 80%;
  color: var(--light-blue);
  border-color: var(--dull-blue);
}

.input-event-name::placeholder {
  color: var(--dark-gray);
}

.input-event-location {
  text-align: left;
  width: 70%;
}

.input-event-location::placeholder {
  color: var(--dark-gray);
}


.new-event-message {
  min-height: 50px;
}

.btn-create-event {
  margin: 25px auto;
}
