$calendarColumnWidth: 12.3%;
$containerMarginLeft: 8%;
$arrowWidth: 20px;
$containerPaddingRight: 3%;
$containerHeightFull: calc(100% - 100px);

$sideMenuWidth: 24%;
$sideMenuHeight: 94%;
$sideMenuMargin: 2% 2% 2% 0;
$sideMenuPadding: 0 2%;
