@import 'Constants.scss';

h1 {
    margin: 0;
    font-family: "Avenir Next", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: $colorPrimary;
}

h2 { /* Title (Calendar Month) */
    color: var(--dull-blue);
    font-size: 30px;
    font-weight: 500;
    text-align: left;
}

h3 { /* Heading (date + time) */
    color: var(--dull-blue);
    text-align: left;
    margin-top: 30px;
    margin-bottom: 18px;
}

h4 { /* Sub-heading (start time) */
    color: var(--dull-blue);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
}

h5 { /* Calendar NetworkEvent Titles */
    font-weight: 600;
    color: white;
    margin: 5px 0;
    padding: 0;
}

input {
    width: 100%;
    background: none;
    border: none;
    color: $colorTertiary;
    border-bottom: 1px solid;
    font-size: 15px;
    padding: 8px 0;
    margin: 0;
}

input::placeholder {
    color: $colorTertiary;
}

input:focus {
    outline: none;
    color: var(--light-blue);
    border-color: $colorTertiary;
}

input:focus::placeholder {
    color: var(--light-blue);
}

button {
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 52px;
    border: none;
    box-shadow: none;
}

button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

button:active {
    filter: brightness(90%);
}

button:focus {
    filter: brightness(95%);
    outline: none;
}

textarea {
    border-radius: 3px;
    border-color: var(--dull-blue);
    background-color: var(--pale-gray);
    color: var(--dull-blue);
    font-weight: 500;
    font-size: 13px;
    padding: 10px;
    resize: none;
    outline: none;
}

textarea:focus {
    border-color: var(--light-blue);
}

p {
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.body-1 {
    font-weight: 300;
    font-size: 16px;
    color: $colorNeutral;
}

a {
    color: $colorNeutral;
    font-weight: 600;
    font-size: 16px;
}

a:hover {
    filter: brightness(120%);
}

.btn-primary {
    margin: auto;
    color: white;
    background-color: $colorSecondary;
}

.btn-secondary {
    margin: auto;
    color: white;
    padding: 6px 20px;
    background-color: var(--light-blue);
}

.btn-open {
    border-radius: 0;
}

.btn-home {
    background: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: var(--dull-blue);
    border-bottom: 2px solid;
    padding: 10px 20px 2px 20px;
}

.btn-active-tab {
    color: var(--blush);
}

.header {
    display: flex;
    background-color: var(--dull-blue);
    color: white;
    text-align: left;
    height: 50px;
}

#title {
    padding: 5px;
    margin-left: 20px;
}

.container-logo {
    background-color: var(--light-blue);
    display: flex;
    width: 75px;
}

.page {
    display: flex;
}

.contents {
    width: 95vw;
    height: calc(100vh - 50px);
}

.nav-btn-container {
    height: 80%;
}

.nav-today-container {
    background-color: var(--light-blue);
    height: 20%;
}

.nav-today-header {
    background-color: var(--dull-blue);
    height: 30px;
    color: white;
    display: flex;
}

.nav-month {
    color: white;
    font-size: 25px;
    text-align: center;
}

.nav-day {
    color: white;
    font-size: 40px;
    text-align: center;
}

.nav-date-container {
    display: flex;
    height: calc(100% - 30px);
}

.flex-container {
    display: flex;
}

.flex-centered {
    margin: auto;
}

.scrollable {
    overflow: scroll;
}

.btn-invisible {
    background-color: transparent;
}
