@import 'Constants';

.login-container {
  background-color: $colorTertiary;
  color: $colorTertiary;
  height: 100vh;
  display: flex;
  margin: auto;
  text-align: center;

  .user-login {
    width: 720px;
    background-color: var(--pale-gray);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    margin: auto;
    padding-top: 72px;

    .description {
      width: 100%;
      text-align: center;
      margin: 30px 0 24px 0;
      font-weight: 600;
    }

    .description-register {
      width: 300px;
      margin: 30px calc(50% - 150px) 24px calc(50% - 150px);
      text-align: center;
      font-weight: 300;
    }
  }
}

.info-intro {
  width: 25vw;
  height: 100%;
  background-color: var(--light-blue);
  color: white;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.intro-blurb {
  font-size: 15px;
  margin: 15px 0;
}

.intro-logo-container {
  background-color: var(--dull-blue);
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: flex;
  width: 95px;
  height: 95px;
}

.intro-logo {
  width: 60%;
  margin: auto;
}

.bullets {
  width: 100%;
  text-align: left;
  padding-left: 10%;
}

.login-fields-container {
  width: 240px;
  text-align: left;
  margin: auto;
}

.login-button {
  width: 50%;
  background: none;
  border: none;
  font-size: 17px;
  font-weight: 400;
  color: var(--dull-blue);
  border-bottom: 2px solid;
  margin: 10px 0;
}

.login-button:hover {
  cursor: pointer;
}

.login-active {
  color: var(--blush);
  font-weight: 700;
}

.login-input {
  margin: 8px 10px 8px 0;
  width: 100%;
}

.login-input::placeholder {
  color: var(--dull-blue);
}

.login-btn-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.login-form {

  .register-link-container {
    text-align: center;

    p {
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .forgot {
    color: $colorNeutral3;
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
  }

  .forgot:hover {
    cursor: pointer;
    color: var(--blush);
  }

  .verification {
    margin-top: 8px;
  }

  .login-submit {
    margin: 26px auto 40px auto;
    text-align: center;
  }
}

#calendays {
  width: 100%;
}
