@import 'Constants';


.navbar {
  display: flex;
  height: $navBarHeight;
  width: 100vw;
  background-color: $colorTertiary;
  justify-content: space-between;
  user-select: none;

  h1 {
    color: white;
    margin: auto 0;
    padding: 0;
  }

  .nav-btn-container {
    display: flex;
    margin-right: 32pt;
    justify-content: center;

    .nav-icon {
      display: flex;
      margin: auto 12pt;
      height: fit-content;

      .logo {
        width: 24pt;
        margin: auto;
      }

      .btn-nav {
        padding: 0;
      }
    }
  }

  .container-logo {
    display: flex;
    margin-left: 24pt;
    margin-right: 16pt;
  }

  .nav-today-container {
    background-color: var(--light-blue);
    height: 20%;
  }

  .nav-today-header {
    background-color: var(--dull-blue);
    height: 30pt;
    color: white;
    display: flex;
  }

  .nav-month {
    color: white;
    font-size: 25pt;
    text-align: center;
  }

  .nav-day {
    color: white;
    font-size: 40pt;
    text-align: center;
  }

  .nav-date-container {
    display: flex;
    height: calc(100% - 30pt);
  }
}
