@import 'Constants';

.page-notifications {
  height: 100%;
  display: flex;

  h2 {
    color: $colorPrimary;
    padding: 35pt 0 0 35pt;
    margin: 0;
  }

  p {
    color: $colorTextNeutral;
    font-size: 14pt;
    font-weight: 400;
  }

  .no-events {
    padding: 35pt;
  }

  .left {
    border-right: 1pt solid var(--very-light-pink);
  }

  .right {
    padding: 50pt;

    .event-title {
      margin: 0;
      padding: 0;
      color: $colorPrimary;
    }
  }

  .event-notification {
    padding: 16pt;
    border-style: solid;
    border-width: 3pt;
    border-radius: 5pt;
    background-color: #fbfbfb;
    margin: 20pt 35pt;
    min-width: 300pt;
    cursor: pointer;

    .title {
      font-size: 15pt;
      font-weight: bold;
      color: $colorTextNeutral;
      margin-bottom: 10pt;
    }

    .notification {
      border-right: 1pt solid $colorTextNeutral;
      padding-right: 10pt;
    }

    .network {
      padding-left: 10pt;
    }
  }

  .event-notification:hover {
    background-color: #f6f6f6;
  }
}
