@import '../main/Constants';

$dropDownHeight: 200pt;
$spacingDateTB: 8pt;
$spacingDateLR: 12pt;
$widthTime: 50pt;

.display-container {
  padding-left: 15pt;
}

.dropdown-container {
  text-align: left;

  .flex-container {
    display: flex;
  }

  .btn-dropdown {
    text-align: left;
    background-color: var(--pale-gray);
    color: var(--dull-blue);
    border-radius: 0;
    margin: 0;
    padding: $spacingDateTB $spacingDateLR;
    border-bottom: 1pt solid var(--dark-gray);
  }

  .btn-ghost {
    background-color: transparent;
    border-bottom: none;
    padding: 0 0 $spacingDateTB 0;
  }

  .arrow {
    width: 10pt;
    height: 10pt;
    background-color: transparent;
    border-left: 2pt $colorTertiary solid;
    border-bottom: 2pt $colorTertiary solid;
    border-radius: 0;
    transform: rotate(-45deg);
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8pt;
    position: relative;
    bottom: 4pt;
    transition: transform 100ms ease-in-out;
  }

  .arrow-open {
    transform: rotate(-225deg);
    transition: transform 100ms ease-in-out;
    bottom: 0;
  }
}

.time-container {
  .btn-time {
    width: $widthTime;
  }
}

.picker {
  max-height: $dropDownHeight;
  overflow: scroll;
  background-color: var(--pale-gray);
  border-radius: 0;
  color: var(--dull-blue);
  position: absolute;
  border-bottom: 1pt solid var(--dark-gray);
  z-index: 2;

  .picker-inner {
    display: block;
    color: var(--dull-blue);
    background-color: var(--pale-gray);
    border-radius: 0;
    text-align: left;
    width: 100%;
    padding: $spacingDateTB $spacingDateLR;
    border-bottom: 1pt solid var(--dark-gray);
    margin: 0;

    .net-name {
      width: calc(100% - 20pt);
    }
  }
}

.picker-color {
  width: 10pt;
  height: 10pt;
  margin-left: 10pt;
  margin-right: 10pt;
  border-radius: 3pt;
}

.picker-time {
  width: $widthTime;
}

.container-top {
  position: relative;

  .picker-top {
    position: absolute;
    bottom: 35pt;
  }
}
