@import '../main/Constants';

.input-outer-container {
  text-align: left;

  .input-container {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;

    .input-invalid {
      color: var(--error-red);
      border-color: var(--error-red);
    }

    .input-animated {
      font-size: 15px;
      padding: 12px 0 4px 0;
    }

    .input-invalid::placeholder {
      color: var(--error-red);
    }

    .input-border {
      position: absolute;
      height: 1px;
      background: $colorPrimary;
      transition: all 0.3s ease-in-out;
      width: 0;
      bottom: 0;
      margin-left: -50%;
      left: 50%;
    }

    .input-animated:focus {
      color: $colorPrimary;
    }

    .input-animated:focus ~ .input-border {
      width: 100%;
    }

    .label-animated {
      transition: all 100ms linear;
      font-size: 15px;
      color: $colorTextNeutral;
      position: absolute;
      left: 0;
      bottom: 8px;
      pointer-events: none;
    }

    .input-animated:valid ~ .label-animated {
      color: $colorTextNeutral;
      bottom: 26px;
      font-size: 10px;
    }

    .input-animated:focus ~ .label-animated {
      color: $colorPrimary;
      bottom: 26px;
      font-size: 10px;
    }
  }

  .input-invalid-text {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: $colorError;
  }
}
