h1 {
    margin: 0;
}

h2 {
    color: var(--dull-blue);
    font-size: 30px;
    font-weight: 500;
}

h3 {
    color: var(--dull-blue);
    text-align: left;
    margin-top: 30px;
    margin-bottom: 18px;
}

h4 { /* Calendar Event Titles */
    font-weight: 600;
    color: white;
    margin: 10px 0;
    padding: 0;
}

input {
    background: none;
    border: none;
    color: var(--dull-blue);
    border-bottom: 1px solid;
    font-size: 17px;
    padding: 4px;
}

input::placeholder {
    color: var(--dull-blue);
}

button {
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 12px;
    border: none;
    box-shadow: none;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(95%);
}

textarea {
    border-radius: 3px;
    border-color: var(--dull-blue);
    background-color: var(--pale-gray);
    color: var(--dull-blue);
    font-weight: 500;
    font-size: 13px;
    padding: 10px;
    resize: none;
}

.btn-primary {
    margin: auto;
    color: white;
    background-color: var(--blush);
}

.btn-open {
    border-radius: 0;
}

.btn-open:hover {
    filter: none;
}

.header {
    display: flex;
    background-color: var(--dull-blue);
    color: white;
    text-align: left;
    height: 50px;
}

#title {
    padding: 5px;
    margin-left: 20px;
}

.container-logo {
    background-color: var(--light-blue);
    display: flex;
    width: 75px;
}

.logo {
    width: 35px;
    margin: auto;
}

.page {
    display: flex;
}

.contents {
    width: 95vw;
    height: calc(100vh - 50px);
}

.content-btns {
    height: 50px;
    text-align: left;
    margin: 25px 0 10px 8%;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 75px;
    height: calc(100vh - 50px);
    background-color: var(--pale-gray);
}

.btn-home {
    background: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: var(--dull-blue);
    border-bottom: 2px solid;
    padding: 10px 20px 2px 20px;
}

.btn-home:hover {
    cursor: pointer;
    color: var(--blush);
}

.nav-btn-container {
    height: 80%;
}

.nav-today-container {
    background-color: var(--light-blue);
    height: 20%;
}

.nav-today-header {
    background-color: var(--dull-blue);
    height: 30px;
    color: white;
    display: flex;
}

.nav-month {
    color: white;
    font-size: 25px;
    text-align: center;
}

.nav-day {
    color: white;
    font-size: 40px;
    text-align: center;
}

.nav-date-container {
    display: flex;
    height: calc(100% - 30px);
}

.flex-centered {
    margin: auto;
}
