@import '../main/Constants';

.create-new-network {
  width: $sideMenuWidth;
  height: $sideMenuHeight;
  margin: $sideMenuMargin;
  padding: $sideMenuPadding;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  color: $colorPrimary;

  .member-add {
    display: flex;

    input {
      margin-right: 8pt;
    }
  }

  .member-list {
    padding-left: 15pt;
  }

  .btn-create-container {
    margin: 20pt 0;
  }
}
