@import '../main/Constants';

.create-new-network {
  width: $sideMenuWidth;
  height: $sideMenuHeight;
  margin: $sideMenuMargin;
  padding: $sideMenuPadding;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  color: var(--dull-blue);

  .member-add {
    display: flex;

    input {
      margin-right: 8px;
    }
  }

  .member-list {
    padding-left: 15px;
  }
}
